<nav class="col-12 col-lg-3">
    <div class="page_nav">


        <a href="/products/category/groceries">
            <div><i class="fas fa-tachometer-alt align-self-center"></i><small>Overview</small></div>
        </a>
        <a href="/products/post">
            <div><i class="fas fa-cloud-upload-alt align-self-center"></i><small>Post</small></div>
        </a>
        <a href="/products/category/groceries">
            <div><i class="fas fa-history align-self-center"></i><small>Histories</small></div>
        </a>
        <a href="/products/category/food&amp;bevs">
            <div><i class="fas fa-users align-self-center"></i><small>Users</small></div>
        </a>
        <a href="/products/category/medicals">
            <div><i class="fas fa-key align-self-center"></i><small>Codes</small></div>
        </a>
        <a href="/products/category/electronics">
            <div><i class="fas fa-tasks align-self-center"></i><small>Tasks</small></div>
        </a>
        <a href="/products/category/electricals">
            <div><i class="fas fa-sign align-self-center"></i><small>Notices</small></div>
        </a>
        <a href="/products/category/furniture">
            <div><i class="fas fa-truck-loading align-self-center"></i><small>Deliveries</small></div>
        </a>
        <a href="/products/category/boutique">
            <div><i class="fas fa-tshirt align-self-center"></i><small>Boutique</small></div>
        </a>
        <a href="/products/category/oil&amp;gas">
            <div><i class="fas fa-gas-pump align-self-center"></i><small>Oil &amp; Gas</small></div>
        </a>
    </div>
</nav>
