<header class="row" style="background-color: #F5BE41">
    <div class="col-12">
        <div class="row d-none d-lg-block" style="background-color: #F5BE41;">
            <h1 class="row justify-content-center"><a href="/" style="text-decoration: none; font-size: 35px;cursor: default; font-weight: bold;"><small><span style="color: #ffffff;">Enroute</span><span style="color: #31A9b8;">24</span></small></a></h1>
        </div>


        <div class="row header justify-content-around" style="padding: 10px 0;">

            <div class="row head-user col-6 col-sm-6 col-md-3 col-lg-3 justify-content-around" style="margin: 5px 0;">

                <%if(user){%>
                <a href="/users/profile/<%=user._id%>">
                    <span class="" style="color:;"><i class="fas fa-user" title="<%=user.fname%>"></i></span>
                </a>
                <%}%>
                
                <a href="#" class="displayCart" style="color:;"><i class="fas fa-cart-arrow-down" title="Cart"></i></a>
                
                <a href="#" class="displayWishList" style="color:;" title="Wish List"><i class="far fa-heart"></i></a>
    </div>
        
        <div class="row head-control col-6 col-sm-6 col-md-3 col-lg-3 justify-content-around" style="margin: 5px 0;">
              <%if(user){%>

                <a href="/admin/dashboard/<%=user._id%>" title="Dashboard">
                    <i class="fas fa-chart-line"></i>
                </a>

                <a href="/users/messages" title="Messages">
                    <i class="fas fa-envelope"></i>
                </a>
                <a href="/logout" title="Log Out">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
                <%}else{%>
                <a href="/users/register" title="Register">
                    <i class="fas fa-user-plus"></i>
                </a>
                <a href="/login" title="Log In">
                    <i class="fas fa-sign-in-alt"></i>
                </a>
                <%}%>
        </div>


<div class="row head-search col-sm-12 col-md-6 col-lg-6 justify-content-around" style="margin: 5px 0;">
<form method="get" action="/search" class="searchForm row col-12 justify-content-around">
<input type="text" name="query" autocomplete="off" placeholder="Make a search..." class="form-control row col-12 col-sm-12 col-md-12 col-lg-12">
      </form>
        </div>

      </div>
        
        </div>
      <small style="padding: 5px 0 0 30px; color: #AEAEAE;"><%=nav%></small>

</header>
<hr>
