<nav class="col-12 col-lg-3 d-none d-lg-block">
    <div class="page_nav">

        <a href="/products/category/groceries">
            <div><i class="fas fa-shopping-bag align-self-center"></i><small>Groceries</small></div>
        </a>
        <a href="/products/category/food&amp;bevs">
            <div><i class="fas fa-concierge-bell align-self-center"></i><small>Food &amp; Beverages</small></div>
        </a>
        <!--<a href="/products/category/groceries">
    <div><i class="fas fa-wine-bottle align-self-center"></i><small>Beverages</small></div>
</a>-->
        <a href="/products/category/medicals">
            <div><i class="fas fa-briefcase-medical align-self-center"></i><small>Medical Supplies</small></div>
        </a>
        <a href="/products/category/electronics">
            <div><i class="fas fa-tv align-self-center"></i><small>Electronics</small></div>
        </a>
        <a href="/products/category/electricals">
            <div><i class="far fa-lightbulb align-self-center"></i><small>Electricals</small></div>
        </a>
        <a href="/products/category/furniture">
            <div><i class="fas fa-chair align-self-center"></i><small>Furniture</small></div>
        </a>
        <a href="/products/category/boutique">
            <div><i class="fas fa-tshirt align-self-center"></i><small>Boutique</small></div>
        </a>
        <a href="/products/category/oil&amp;gas">
            <div><i class="fas fa-gas-pump align-self-center"></i><small>Oil &amp; Gas</small></div>
        </a>
        <!--<a href="/products/category/delivery">
    <div><i class="fas fa-box align-self-center"></i><small>Delivery Services</small></div>
</a>
<a href="/products/category/groceries">
    <div><i class="fas fa-people-carry align-self-center"></i></div>
</a>
<a href="/products/category/groceries">
    <div><i class="fas fa-truck-moving align-self-center"></i></div>
</a>
<a href="/products/category/groceries">
    <div><i class="fas fa-wrench align-self-center"></i></div>
</a>
<a href="/products/category/groceries">
    <div><i class="fas fa-beer align-self-center"></i></div>
</a>
<a href="/products/category/groceries">
    <div><i class="fas fa-apple-alt align-self-center"></i></div>
</a>
<a href="/products/category/groceries">
    <div><i class="fas fa-carrot align-self-center"></i></div>
</a>-->

    </div>
</nav>
