<div id="messages">
    <% Object.keys(messages).forEach(function (type) { %>
    <ul class="alert alert-<%=type%>" style="list-style-type: none; width: 100%;">
        <% messages[type].forEach(function (message) { %>
        <li class="col-12"><%= message %></li>
        <% }) %>
    </ul>
    <% }) %>
</div>
