h1 {
    font-size: 20px;
}

.header a {
    margin: 2px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #F76C6C;
}

.page_nav {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;
}

.page_nav div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    background-color: ;
    text-align: center;
    /*border: 1px solid silver;*/
    box-shadow: 0px 0px 1px 1px rgba(65, 65, 65, 0.1);
}

.page_nav div:hover {
    background-color: #24305E;
    color: rgba(255, 255, 255, 0.7);
}

.productlist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: auto;
}

@media screen and (min-width: 576px) {
    h1 {
        font-size: 20px;
    }

    .productlist {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: auto;
    }

}


@media screen and (min-width: 768px) {
    h1 {
        font-size: 25px;
    }

    .head-user {
        order: 1
    }

    .head-control {
        order: 3
    }

    .head-search {
        order: 2
    }

    .page_nav {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1px;
    }

    .productlist {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: auto;
    }
}


@media screen and (min-width: 992px) {
    .page_nav {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1px;
    }

    .productlist {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: auto;
    }

    #profileForm {
        order: 1;
    }

    #profileImageForm {
        order: 2;
    }
}


@media screen and (min-width: 1200px) {
    ...
}
