h1 {
    font-size: 20px;
}

.header a {
    margin: 2px;
    color: #F76C6C;
    font-size: 20px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #F76C6C;
}

.page_nav {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;
}

.productlist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: auto;
}

@media screen and (min-width: 576px) {
    h1 {
        font-size: 20px;
    }

    .productlist {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: auto;
    }

}


@media screen and (min-width: 768px) {
    h1 {
        font-size: 25px;
    }

    .head-user {
        order: 1
    }

    .head-control {
        order: 3
    }

    .head-search {
        order: 2
    }

    .page_nav {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1px;
    }

    .productlist {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: auto;
    }
}


@media screen and (min-width: 992px) {
    .page_nav {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1px;
    }

    .productlist {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: auto;
    }

    #profileForm {
        order: 1;
    }

    #profileImageForm {
        order: 2;
    }
}


@media screen and (min-width: 1200px) {
    ...
}
